ServiceProxy/Service References/Clusters/Clusters2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.birmingham.ac.uk/web_services/Clusters.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" />
  <xs:element name="GetClusters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClustersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" minOccurs="0" name="GetClustersResult" nillable="true" type="q1:FacilityEntryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapsWithClusters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapsWithClustersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" minOccurs="0" name="GetMapsWithClustersResult" nillable="true" type="q2:MapEntryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsWithClusters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingsWithClustersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" minOccurs="0" name="GetBuildingsWithClustersResult" nillable="true" type="q3:BuildingEntryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClustersForBuildingOrderedAlphabetically">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buildingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClustersForBuildingOrderedAlphabeticallyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" minOccurs="0" name="GetClustersForBuildingOrderedAlphabeticallyResult" nillable="true" type="q4:ClusterCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestClusters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestClustersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" minOccurs="0" name="GetNearestClustersResult" nillable="true" type="q5:ClusterCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestClustersWithPcData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestClustersWithPcDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UniBirmingham.Web.Services.DataContracts" minOccurs="0" name="GetNearestClustersWithPcDataResult" nillable="true" type="q6:ClusterCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>